<div class="container-fluid">
<h3>
  HOME PAGE
</h3>




<div class="container">
  <div class="row">
    <div class="col-sm">
<img src="assets/poloshitam.jpg" class="img-fluid" alt="Responsive image">
      
    </div>
    <div class="col-sm">
<img src="assets/polosputih.jpg" class="img-fluid" alt="Responsive image">
      
    </div>
    <div class="col-sm">
<img src="assets/poloskuning.jpg" class="img-fluid" alt="Responsive image">
      
    </div>
  </div>
</div>

</div>
